<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body >
        <div class="container" style="text-align: center;">

           <h1 style="font-size:50px;"> Neelam Makwana</h1>
   <h1 style="font-size:50px;">1001453836</h1>
<!--           <p>Count: {{count}} </p>-->
<!--            <p> Time: {{ pagetime }} </p>-->
            <br>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
 <h4>
              question 7.1  and 7.3 ,Update volcano name
            </h4> <br>
            </h4> <br>
            <form action="/greaterthan" method="post">
<!--                <label>Magnitude: </label> <input type="number" name="range1" step="any"><br><br>-->
                 <label>Number: </label> <input type="number" name="range1" step="any"><br><br>
<!--                 <label>VolcanoName: </label> <input type="text" name="name" step="any"><br><br>-->
<!--                  <label>Updated VolcanoNumber: </label> <input type="text" name="name1" step="any"><br><br>-->
                <input type="submit" value="Search" class="btn btn-secondary">
            </form>
            <br>

<!--            <h4>-->
<!--              question 7.1 Update volcano name-->
<!--            </h4> <br>-->
<!--            <form action="/withinrange" method="post">-->
<!--&lt;!&ndash;                <label> Elevation </label><br>&ndash;&gt;-->
<!--                <label>Number : </label> <input type="number" name="range1" step="any"><br>-->
<!--                <label>Volcano Name: </label> <input type="text" name="range2" step="any"> <br>-->
<!--                <input type="submit" value="UPDATE" class="btn btn-secondary">-->
<!--            </form>-->
<!--            <p>***********************************************************************************************************************************************************************</p>-->
<!--            <br>-->
<!--            <h4>-->
<!--                 Within Range-->
<!--            </h4> <br>-->
<!--            <form action="/withinrange" method="post">-->
<!--                <label> Latitude: </label><br>-->
<!--                <label>Range1: </label> <input type="number" name="range1" step="any"><br>-->
<!--                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>-->
<!--                <input type="submit" value="Search" class="btn btn-secondary">-->
<!--            </form>-->
<!--            <br>-->
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                question 7.2
            </h4> <br>
            <form action="/update" method="post">
<!--                <label> number </label><br>-->
                <label>Range1: </label> <input type="number" name="range1" step="any"><br>
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                 <label>Range3: </label> <input type="number" name="range3" step="any"><br>
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
<!--                <label>Start Date: </label> <input type="text" name="startdate"><br>-->
<!--                <label>End Date: </label> <input type="text" name="enddate"> <br>-->
<!--                <label>Magnitude: </label> <input type="number" name="mag" step="any"> <br>-->
<!--                 <label>Number: </label> <input type="number" name="num" step="any"> <br>-->
                <input type="submit" value="search" class="btn btn-secondary">
            </form>

            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>question6</h4> <br>
            <form action="/setpage" method="post">
<!--                <label> Elevation </label><br>-->

                <input type="submit" value="question6" class="btn btn-secondary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>

<!--            <p>***********************************************************************************************************************************************************************</p>-->
          <h4>
                 student registration
            </h4> <br>
            <form action="/update1" method="post">
                <label>Student ID: </label> <input type="number" name="sid"><br>
                <label>Course: </label> <input type="number" name="course"> <br>
                <label>Section: </label> <input type="number" name="section"> <br>
                <input type="submit" value="submit" class="btn btn-secondary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>


        </div>
    </body>
</html>